<!-- Logging configuration -->
<!-- autoReload avoids having to restart the application pool when this configuration changes -->
<nlog autoReload="true">
  <!-- logsPath is where logs will be stored. Since moving to automated builds a project's directory contents -->
  <!-- will be deleted on each publish. It is recommended to use a shared directory outside of the application. -->
  <!-- This value should be transformed for each environment -->
  <variable name="logsPath" value="${basedir}/../logs" />
  <targets async="true">
    <target name="logfile" type="File"
		        fileName="${logsPath}/${date:format=yyyy-MM-dd}/log.${date:format=yyyy-MM-ddTHH}.txt" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
</nlog>